[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

#ReadResult {
    display: block;
}

.iframe {
    visibility: "hidden";
    overflow-y: auto;
    max-height: 50vh;
    max-width: 70vw;
}

#download {
    visibility: "hidden"
}

html,
body {
    height: 100vh;
    max-height: 100vh;
    transition: all 200ms linear;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.header,
.footer,
.main {
    padding: 1em;
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer {
    align-self: stretch;
    text-align: center;
}

.header {
    /* background-color: #cff; */
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}

.main {
    flex: 1 0 auto;
}